
*{
  padding:0;
  margin: 0;
}

body{
  background-color: burlywood;
  height: 50px;
} 

ul{
  list-style-type: none;
  background-color:rgb(147, 147, 183);
  display: flex;
  justify-content: space-around;
  padding: 1.5%;
}

a{
  text-decoration: none;
  color: white;
  font-size: 1.7rem;
  font-style:italic;
}

h1{
  margin: 40px 100px;
  font-size: 2.5rem;
  color:black;
}

.btn-add-std-1{
  color: rgb(102, 102, 107);
  height: 40px;
  width: 250px;
  font-size:20px ;
  font-weight: bold;
  border-radius: 20px;
  background-color: rgb(35, 208, 208);
  position: absolute;
  right: 5rem;
  top: 8rem;
}

.btn-edit{
 border: none;
 text-decoration: underline;
 background: none;
 color: blue;
 font-size: 18px;
}

.table-con{
width:90%;
height: auto;
background-color: rgb(234, 125, 125);
margin-left: 5%;
}

table{
  width: 100%;
  text-align: center;
}

thead{
  font-size: 22px;
  border-bottom: 1px solid black;
}

td{
  font-size: 18px;
  padding: 1rem;
  border-bottom: 1px solid black;
}

th{
  padding: 1rem;
  border-bottom: 1px solid black;
}

input{
  width: 400px;
  height: 50px;
  margin: 5%;
  background: none;
  font-size: 18px;
  align-items: center;
}
input:hover{
  background-color: rgba(240, 255, 255, 0.945);
}
.btn-add-std{
  color: rgb(5, 5, 84);
  height: 40px;
  width: 200px;
  font-size:20px ;
  font-weight: bold;
  border-radius: 20px;
  background-color: rgb(176, 191, 186);
  position: absolute;
  right: 5rem;
  top: 30rem;
}
.btn-cancel-std{
  color: rgb(5, 5, 84);
  height: 40px;
  width: 200px;
  font-size:20px ;
  font-weight: bold;
  border-radius: 20px;
  background-color: rgb(167, 190, 183);
  position: absolute;
  right: 20rem;
  top: 30rem;
}